.introduce {
  padding: 1%;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  display: flexbox;
  margin: auto;
}

.introduceParagraph {
  text-align: left;
  padding-left: 15%;
  font-size: 17px;
  font-weight: normal;
}
