.taskbar {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
  }
  li {
    display: flex;
    flex-direction: row;
    float: left;
  }
  a {
    display: block;
    padding: 10px;
  }
  li a:hover {
    background-color: #dddddd;
  }
}
